html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

/* header  */
.header_nav .nav-item a {
  color: black;
  font-weight: 600;
  font-size: 16px;
}

header .navbar-nav .nav-link.active {
  color: #ff6e65;
}

.dropdown-menu .dropdown-item.active {
  color: #ff6e65;
  background: transparent;
}

.header_nav a span {
  color: #0d369f;
  font-weight: 600;
  font-size: 25px;
}

.header_nav li {
  padding: 0 8px;
}

.header_logo span {
  transition: all 0.5s;
}

.header_logo:hover span {
  color: #ff6e65;
}

.nav-item {
  transition: all 0.5s;
}

.header_nav .nav-link {
  transition: all 0.5s;
}

.header_nav .nav-link:hover {
  color: #ff6e65;
}


.header_nav .dropdown-item {
  transition: all 0.5s;
  color: #ff6e65;
}

.header_nav .dropdown-item:hover {
  color: #ff6e65;
  background-color: transparent;
}

header .d-flex input {
  position: relative;
}

header .d-flex input {
  border-radius: 30px;
}

header .d-flex button {
  position: absolute;
  right: 20px;
  top: 25px;
  padding: 0 20px 0 0;
  color: #0d369f;
  border: 1px solid transparent;
}

header .header_search .d-flex button:hover {
  background-color: transparent;
  border: 1px solid gray;
  color: #ff6e65;
}

header .header_search .d-flex button {
  transition: all 0.5s;
}

/* banner  */
.banner .banner_title{
    position: absolute;
    top: 150px;
}

.banner .banner_title h5{
    color: white;
    font-size: 70px;
    font-weight: 700;
}

.banner .banner_title a{
    background-color: white;
    padding: 10px 20px;
    font-weight: 500;
    transition: all .5s;
}

.banner .banner_title a:hover{
    background-color: #ff6e65;
}

.banner .banner_slide{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.banner .banner_slide.active{
    background-color: #ff6e65;
}

/* column  */
.column {
    position: relative;
    margin-top: -50px;
}

.column .column_item{
    text-align: center;
    

}

.column .column_eng{
    padding: 40px 35px;
    background-color: #037ef3;
    border-radius: 10px;
    color: white;
    font-size: 45px;
}
.column .column_lea{
    padding: 40px 35px;
    background-color: #ffc949;
    border-radius: 10px;
    color: white;
    font-size: 45px;
}
.column .column_bus{
    padding: 40px 35px;
    background-color: #ff4f81;
    border-radius: 10px;
    color: white;
    font-size: 45px;
}
.column .column_art{
    padding: 40px 35px;
    background-color: #1ee697;
    border-radius: 10px;
    color: white;
    font-size: 45px;
}

.column .column_item a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
}

/* studious  */
.studious span{
  color: #ff4f81;
}

.studious h3{
  font-size: 40px;
  font-weight: 600;
}

.studious .studious_title{
  position: relative;
}

.studious h3.studious_title::before{
  top: 60px;
  left: -20px;
  bottom: -8px;
}

.studious h3.studious_title::after{
  top: 70px;
  left: 20px;
  bottom: -15px;
}

.studious h3.studious_title:before,
h3.studious_title::after {
  content: "";
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}

.studious .studious_item{
  text-align: center;
}

.studious .studious_item i{
  color: #0d369f;
  background-color:rgb(13 54 159 / 9%);
  font-size: 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
}


.studious .studious_item a{
  text-decoration: none;
  color: black;    
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  display: block;
  margin-top: 20px;
}

.studious .studious_item p{
  margin-top: 14px;
  color: #707070;
  line-height: 28px;
  font-size: 15px;
}

/* contact  */
.contact .contact_content img{
  max-width: 100%;
  display: block;
}

.contact .contact_title h3{
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
}

.contact .contact_title p{
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: .4px;
}

.contact button{
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  border-radius: 4px;
  background: #ff6e65;
  border: none;
  transition: all .25s ease-in-out;
}

.contact .mt-4:hover button{
  color: #ffffff;
  background: blue;

}


/* question  */
.question span {
  color: #ff6e65;
}

.question .question_title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
  padding-bottom: 100px;
}

.question h3.question_title:before {
  top: 60px;
  left: -20px;
  bottom: -8px;
}

.question h3.question_title:after {
  top: 70px;
  left: 20px;
  bottom: -15px;
}
.question h3.question_title:before,
h3.question_title::after {
  content: "";
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}

.question_img{
  border-radius: 8px;
  max-width: 100%;
}

.question_img {
  max-width: 100%;
  display: block;
}

.question_right .question_input {
  color: black;
  background: #f9f9f9;
  font-size: 15px;
  padding: 14px;
  border: 1px solid #eee;
  outline-color: #ff6e65;
  margin-bottom: 16px;
  border-radius: 8px;
}

.question_right button {
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  color: white;
  border-radius: 4px;
  background: #ff6e65;
  border: none;
  transition: all 0.25s ease-in-out;
}

.question_right .btn-secondary:hover {
  background-color: blue;
}

/* services  */
.services{
  background-image: url(../img/bg3.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
}

.services .services_item{
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  margin: 0 20px;
}

.services .icon{
  display: inline;
  padding-right: 20px;
}

.services .icon i{
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  background-color: rgb(13 54 159 / 9%);
  text-align: center;
  color: #0d369f;
  font-size: 28px;
}

.services .test p{
  color: #707070;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: .4px;
  margin: 0;
}

/* number  */
.number span{
  color: #ff4f81;
}

.number h3{
  font-size: 40px;
  font-weight: 600;
}

.number p{
  font-size: 16px;
  color: #707070;
  line-height: 28px;
  letter-spacing: .4px;
}

.number .number_title{
  position: relative;
}

.number h3.number_title::before{
  top: 60px;
  left: -20px;
  bottom: -8px;
}

.number h3.number_title::after{
  top: 70px;
  left: 20px;
  bottom: -15px;
}

.number h3.number_title:before,
h3.number_title::after {
  content: "";
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}

.number .number_item{
  text-align: center;
}

.number .number_item p{
  margin-top: 14px;
  color: #707070;
  line-height: 28px;
  font-size: 16px;
}

.counter {
  border-right: 1px solid #eee;
  height: 50px;
}

/* feedback  */
.feedback span{
  color: #ff4f81;
}

.feedback h3{
  font-size: 40px;
  font-weight: 600;
}

.feedback .feedback_title{
  position: relative;
}

.feedback h3.feedback_title::before{
  top: 60px;
  left: -20px;
  bottom: -8px;
}

.feedback h3.feedback_title::after{
  top: 70px;
  left: 20px;
  bottom: -15px;
}

.feedback h3.feedback_title:before,
h3.feedback_title::after {
  content: "";
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}

.feedback_item .item_col{
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
  padding: 20px;
}

.img_left{
  padding-right: 20px;
}

.feedback_item .sub_img img{
  border-radius: 50%;

}

.feedback_item .text_left h5{
  margin: 0;
}

/* instructors  */
.instructors .instructors_item {
  box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
  padding: 10px;
  background: #fff;
  border-radius: 8px;
}
.instructors span{
  color: #ff4f81;
}

.instructors h3{
  font-size: 40px;
  font-weight: 600;
}

.instructors .instructors_title{
  position: relative;
}

.instructors h3.instructors_title::before{
  top: 60px;
  left: -20px;
  bottom: -8px;
}

.instructors h3.instructors_title::after{
  top: 70px;
  left: 20px;
  bottom: -15px;
}

.instructors h3.instructors_title:before,
h3.instructors_title::after {
  content: "";
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}

.instructors .instructors_col{
  border-radius: 10px;
  text-align: center;
}

.instructors .item_col img{
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.instructors .instructors_text h3{
  font-size: 20px;
}

.instructors .instructors_text p{
  font-size: 12px;
}

.instructors_item:hover div.sub_icon{
  bottom: 0px;
}

.instructors_item .item_col{
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.instructors_item .sub_icon{
  position: absolute;
  bottom: -200px;
  margin: 0;
  background: rgb(8 8 8 / 29%);
  padding: 20px 0;
  transition: .5s all;
  -moz-transition: .5s all;
  width: 100%;
  text-align: center;
}
.instructors_item .sub_icon i{
    background: #fff;
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 50%;
    line-height: 28px;
    color: blue;
}


/* footer  */
footer {
  background-color: #060e1f;
}
.footer_content {
  padding: 100px 0 0 0;
  background: #060e1f;
}

.footer_top {
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  background: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: -120px;
  box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}
.footer_top .top_right h1 {
  font-size: 35px;
  line-height: 40px;
  color: #060606;
  font-weight: 600;
}

.footer_top .top_left input {
  background: transparent;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  color: #060606;
  width: 100%;
  border-radius: 8px 0px 0px 8px;
  height: 55px;
  border: 1px solid #eee;
  outline-color: #cbf2e2;
}

.footer_top .top_left button {
  border: none;
  padding: 16px 30px;
  font-size: 16px;
  color: #060606;
  border-radius: 0px 8px 8px 0px;
  height: 55px;
  border: 1px solid #eee;
}

.footer_bot .right_item h3 {
  color: white;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
  font-weight: bold;
}

.footer_bot .right_item span {
  padding-left: 4px;
}

.footer_bot .right_item a,
p {
  text-decoration: none;
  color: #cecece;
  display: block;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 10px 0;
}

.footer_bot .right_item i {
  color: #cecece;
  font-size: 11px;
}

.footer_bot .right_item .address {
  color: #cecece;
  display: block;
  font-size: 15px;
  line-height: 25px;
  font-weight: normal;
  font-style: normal;
}

.footer_bot .right_item .item_infor a {
  color: #cecece;
  line-height: 25px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 30px;
}

.footer_bot .right_item .item_infor i {
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  text-align: center;
  display: inline-block;
}

.footer_bot .right_item ul {
  list-style-type: none;
}

.footer_bot .right_item ul li a {
  color: #fff;
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.06);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

.footer_bot .right_item ul li {
  padding-right: 5px;
}

.footer_bot .right_item ul li a i {
  font-size: 15px;
  line-height: 35px;
}

.footer_bot .right_border {
  border-left: 1px solid rgb(64 73 82 / 51%);
}

.copyright {
  background-color: #040a17;
}

.copyright p {
  font-size: 15px;
  line-height: 20px;
  color: #a0a0a0;
  margin: 0;
}

.copyright a {
  text-decoration: none;
  color: white;
}


@media (max-width: 768px) {
  .banner .banner_title h5 {
    font-size: 25px;
    line-height: 35px;
  }
  header .d-flex button {
    top: 232px;
  }

  .instructors h3.instructors_title::before{
    top: 110px;
  }
  
  .instructors h3.instructors_title::after{
    top: 120px;
  }

  .feedback h3.feedback_title::before{
    top: 110px;
  }
  
  .feedback h3.feedback_title::after{
    top: 120px;
  }

} 

@media only screen and (max-width: 570px) {
  .banner .banner_title h5 {
    font-size: 15px;
    line-height: 15px;
  }

.column .column_eng, .column .column_lea, .column .column_bus, .column .column_art {
    padding: 25px 20px;
    font-size: 20px;
  }
  .column .column_item {
    padding-bottom: 8px;
  }  

  .feedback h3.feedback_title::before{
    top: 150px;
  }
  
  .feedback h3.feedback_title::after{
    top: 160px;
  }

  .studious h3.studious_title::before{
    top: 100px;
  }
  
  .studious h3.studious_title::after{
    top: 110px;
  }

  .number h3.number_title::before{
    top: 100px;
  }
  
  .number h3.number_title::after{
    top: 110px;
  }
}


